<!DOCTYPE html>
<html lang="en">
{% extends "main.html" %}
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
{% block content %}
  <h1>Ajouter des fichiers</h1>

{% if messages %}
  {% for message in messages %}
      <p>{{ message }}</p>
  {% endfor %}
{% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
      <br><br><br>
    <input type="submit"  value="Envoyer les données" class="button">
  </form>
{% endblock %}
</body>
</html>