<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
  {% for message in messages %}
      <p>{{ message }}</p>
  {% endfor %}
{% endif %}
<div class="form">
    {% if admin %}
        <table style="width:100%" id="admin">
          <tr>
            <th>#</th>
            <th>Fichier</th>
            <th>Uploader</th>
            <th>IP</th>
            <th>Delete</th>
          </tr>
          {% for l in liste %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ l.file.url }}" download> {{ l.name }} </a></td>
            <td>{{ l.user }}</td>
            <td>{{ l.ip }}</td>
              <td><a href="/delete/{{ l.filename }}">Supprimer le fichier</a></td>
          </tr>
          {% endfor %}
        </table>
    {% else %}
            <table style="width:100%" id="table">
          <tr>
            <th>#</th>
            <th>Fichier</th>
            <th>Uploader</th>
              <th>Delete</th>
          </tr>
          {% for l in liste %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ l.file.url }}" download> {{ l.name }} </a></td>
            <td>{{ l.user }}</td>
                          {% if l.user == user %}
              <td><a href="/delete/{{ l.filename }}">Supprimer le fichier</a></td>
              {% else %}
              <td>Suppression non Autorisée</td>
              {% endif %}
          </tr>
          {% endfor %}
        </table>
    {% endif %}
      </div>
</body>
</html>